<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="E4980A.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <E4980A.Properties.Settings>
            <setting name="DeviceID" serializeAs="String">
                <value>USB0::0x2A8D::0x2F01::MY46620088::0::INSTR</value>
            </setting>
            <setting name="StartFreq" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="EndFreq" serializeAs="String">
                <value>2000000</value>
            </setting>
            <setting name="NPoints" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Log" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SamplingTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NSamples" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Filename" serializeAs="String">
                <value>Measurement</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
        </E4980A.Properties.Settings>
    </userSettings>
</configuration>